/** @format */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* color: #2d3450; */
}
img {
  -webkit-user-drag: none;
}
.project-content {
  grid-area: 1 / 1 / -1 / 7;
}

@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden;
  }

  body {
    @apply dark:bg-primary-dark dark:text-secondary-white bg-primary-white text-secondary-gray p-0 m-0 font-Poppins;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply leading-7 text-2xl font-bold select-none;
  }
  h1 {
    @apply text-6xl tablet:text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  ul {
    @apply list-none;
  }

  a {
    @apply no-underline;
  }

  button {
    @apply cursor-pointer;
  }

  main {
    @apply w-[85%] mx-auto px-12 py-0 tablet:w-full tablet:px-8;
  }

  .section {
    @apply mt-20 tablet:m-16;
  }

  .center {
    @apply text-center items-center flex;
  }

  .link {
    @apply relative cursor-pointer p-0 pb-1 hover:text-primary-blue dark:hover:text-main before:content-[""] before:inline before:w-0 before:h-1 before:absolute before:bottom-0 before:bg-primary-blue dark:before:bg-main before:transition-[width] before:duration-200 before:ease-in hover:before:w-full;
  }

  .btn {
    @apply block cursor-pointer px-2 py-5 font-medium text-base lowercase transition-transform duration-200 ease-in-out;
  }

  .btn--outline {
    @apply text-primary-blue dark:text-main/70 border-2 border-solid border-primary-blue dark:border-main/70 relative overflow-hidden z-[1] hover:text-primary-white dark:hover:text-primary-dark focus:text-primary-white dark:focus:text-primary-dark before:content-[""] before:absolute dark:before:bg-main/70 before:bg-primary-blue before:bottom-0 before:left-0 before:top-0 before:right-full before:hover:right-0 before:focus:right-0 before:-z-[1] before:transition-[right] before:duration-200 before:ease-in-out;
  }

  .btn--icon {
    @apply p-0 hover:text-primary-blue dark:hover:text-main active:translate-y-[-5px];
  }
}

@layer components {
  .header {
    @apply h-32 w-full justify-between px-16 py-0 fixed z-[25] tablet:h-24 mobile:!h-16 tablet:px-12 bg-primary-white dark:bg-primary-dark transition-shadow duration-200 ease-in-out;
  }

  .selected {
    @apply scale-[2] bg-none;
  }

  .nav__list {
    @apply flex mr-6 tablet:hidden tablet:flex-col tablet:justify-center tablet:items-center tablet:fixed tablet:inset-0 tablet:w-full tablet:h-screen tablet:z-40 dark:tablet:bg-primary-dark tablet:bg-primary-white tablet:text-primary-dark dark:tablet:text-primary-white;
  }

  .nav__list-item {
    @apply ml-6 tablet:my-2 tablet:mx-0;
  }

  .nav__hamburger {
    @apply hidden tablet:flex tablet:z-[50] tablet:ml-3;
  }

  /** Scroll to top  */
  .scroll-to-top {
    @apply fixed bottom-8 right-32 bg-transparent laptop:hidden text-primary-blue dark:text-primary-white cursor-pointer z-[2];
  }

  /** Left Media */
  .left-media {
    @apply w-10 fixed bottom-0 left-10 right-auto z-10 laptop:left-5 laptop:right-auto tablet:hidden;
  }

  .left-list {
    @apply flex flex-col items-center m-0 p-0  after:content-[""] after:block after:w-[1px] after:h-20 after:mx-auto after:bg-gray-500;
  }

  .left-list-item {
    @apply last:mb-5;
  }

  /** Social Icon */
  .social-icon {
    @apply p-3 text-gray-500 dark:hover:text-main hover:text-primary-blue transition-colors duration-300 ease-in-out;
  }

  /** Right Media */
  .right-media {
    @apply w-10 fixed bottom-0 left-auto right-10 z-10 laptop:left-auto laptop:right-5 tablet:hidden;
  }

  .right-list {
    @apply flex flex-col items-center relative text-gray-500 dark:hover:text-main hover:text-primary-blue after:content-[""] after:block after:w-[1px] after:h-20 after:mx-auto after:bg-gray-500 transition-colors duration-200 ease-in-out;
  }

  .right-link {
    @apply mx-auto my-5 p-2 tracking-widest inline-block;
  }

  /** Footer */
  .footer {
    @apply flex justify-center items-center p-4 h-auto min-h-[70px] text-center flex-col;
  }

  .social-media {
    @apply tablet:block tablet:w-full tablet:max-w-[270px] tablet:mt-0 tablet:mb-2 tablet:mx-auto hidden;
  }

  .social-media-list {
    @apply flex justify-between items-center p-0 m-0;
  }

  .social-media-item {
    @apply p-5;
  }

  /** Section */
  .section-container {
    @apply tablet:flex-col min-h-screen justify-center px-6 flex flex-col m-auto mt-10;
  }

  .section-heading {
    @apply flex items-center relative mt-2 mb-10 text-4xl mx-auto w-full whitespace-nowrap before:relative before:content-["•"] before:mr-2 before:font-normal dark:before:text-main before:text-primary-blue before:justify-center before:items-center after:content-[""] after:block after:relative after:w-[300px] after:h-[1px] after:ml-5 after:bg-gray-500 tablet:after:ml-2 tablet:text-3xl mobile:!text-2xl;
  }

  /** Hero */
  .hero-container {
    @apply flex justify-center flex-col items-start min-h-[100vh] font-normal;
  }

  .hero-head {
    @apply tracking-widest text-primary-blue dark:text-main
    mt-0 mr-0 mb-6 ml-1 font-normal laptop:mt-20;
  }

  .hero-title {
    @apply tracking-wide m-0 text-8xl laptop:text-7xl
      mobile:!text-[55px];
  }

  .hero-subtitle {
    @apply tracking-normal mt-2 m-0 text-6xl text-primary-dark/80 dark:text-primary-white/80 laptop:text-4xl mobile:!text-2xl;
  }

  .hero-description {
    @apply tracking-wide dark:text-secondary-white/40 mt-5 mx-0 mb-0 max-w-3xl mobile:text-lg tablet:pr-1;
  }

  .hero-resume {
    @apply mt-12 capitalize;
  }

  /** About */
  .about-content {
    @apply laptop:block grid grid-cols-2 gap-10;
  }

  .about-left {
    @apply text-xl text-primary-gray dark:text-primary-white/60;
  }

  .skill-list {
    @apply grid-cols-2 grid capitalize gap-x-6 gap-y-2 p-0 mt-5 overflow-hidden dark:text-primary-white/40 text-primary-gray/60 w-max laptop:mt-8 laptop:mx-auto
    mobile:grid-cols-1;
  }

  .skill-item {
    @apply relative mb-2 before:content-["▹"] pl-8 before:absolute before:left-0 dark:before:text-main/70 before:text-primary-blue;
  }

  .about-description {
    @apply flex w-[80%] p-0 laptop:w-full;
  }

  .about-right {
    @apply min-w-max justify-center items-center mx-auto max-w-xs laptop:my-10;
  }

  .about-wrapper {
    @apply relative mx-auto items-center justify-center max-w-max border-2 after:absolute after:border-2 after:border-solid after:hover:border-primary-blue dark:after:hover:border-main after:w-full after:h-full after:top-7 after:left-7 after:content-[""] after:-z-20 after:transition-all after:duration-200 after:ease-in-out after:hover:translate-x-[-8px] after:hover:translate-y-[-8px] after:border-gray-500 dark:after:border-primary-white;
  }

  /** Scrollbar */
  .scrollbar-container {
    @apply m-0 p-0 fixed right-10 top-[50%] translate-y-[-50%] z-[24] left-auto tablet:right-1 tablet:w-10;
  }

  .scrollbar-item {
    @apply w-2 h-2 dark:bg-main/80 bg-primary-blue rounded-full m-5 border-2 border-solid dark:border-primary-gray border-gray-300 cursor-pointer transition-transform duration-500 hover:bg-none hover:scale-[2];
  }

  /** Loader */
  .loader {
    @apply h-screen z-50 bg-primary-white dark:bg-primary-dark text-white flex justify-center items-center;
  }

  /** Experience */
  .experience-content {
    @apply flex min-h-[340px] mobile:block;
  }

  .tab-list {
    @apply relative z-[3] w-max p-0 m-0 mobile:flex mobile:overflow-x-auto mobile:w-[calc(100%+100px)] mobile:pl-[50px] mobile:ml-[-50px] mobile:mb-8;
  }

  .experience-tab {
    @apply text-gray-500 relative flex items-center w-full h-10 px-5 mobile:px-4 pt-0 pb-1 mobile:pb-0 text-left border-gray-300 dark:border-gray-500 border-l-2 mobile:border-b-2 mobile:border-l-0 border-solid rounded-r-md  hover:rounded-r-md  mobile:rounded-r-none mobile:hover:rounded-t-md  mobile:hover:rounded-b-none whitespace-nowrap cursor-pointer hover:text-primary-blue/70 focus:text-primary-blue  dark:hover:text-main/70 dark:focus:text-main;
  }

  .active-tab {
    @apply dark:text-main text-primary-blue;
  }

  .slider-tab {
    @apply z-[5] absolute left-[-2px] mobile:left-0 right-0 h-10 bottom-0 mobile:bottom-[-2px] border-l-2 mobile:border-l-0 mobile:border-b-2 w-full dark:bg-main/20 dark:border-main dark:focus:border-main bg-primary-blue/20 border-primary-blue focus:border-primary-blue rounded-r-md mobile:rounded-t-md mobile:rounded-b-none mobile:focus:rounded-t-md focus:rounded-r-md mobile:focus:rounded-b-none;
  }

  /** Experience */
  .experience-wrapper {
    @apply ml-5 w-full relative;
  }

  .experience-panel {
    @apply w-full h-auto py-2 px-1 mobile:ml-0;
  }

  .experience-panel-heading {
    @apply mb-3 font-medium leading-5 tablet:text-xl mobile:!text-lg;
  }

  .company-name {
    @apply font-bold text-primary-blue dark:text-main;
  }

  .company-work-time {
    @apply font-medium mb-6 text-gray-500 flex;
  }

  .experience-description {
    @apply relative mb-2 before:content-["▹"] pl-8 before:absolute before:left-0 dark:before:text-main/70 before:text-primary-blue text-gray-600/80 dark:text-primary-white/60;
  }

  /** Project */
  .project-list {
    @apply p-0 m-0;
  }

  .project-panel {
    @apply relative grid gap-2 grid-cols-12 items-center
    mb-[100px] tablet:mb-[60px] mobile:!mb-[30px]
    tablet:shadow-lg tablet:hover:shadow-xl shadow-none;
  }

  .project-content {
    @apply relative col-[1/7] row-[1/-1] laptop:col-[1/9] tablet:!col-[1/-1] group-odd:col-[7/-1]
    laptop:group-odd:col-[5/-1] tablet:group-odd:!col-[1/-1]
    group-odd:text-right tablet:group-odd:text-left group-even:text-left tablet:!flex tablet:!flex-col tablet:!justify-center tablet:!h-full tablet:!z-[5] tablet:px-10 tablet:pt-10 tablet:pb-8 mobile:!pt-8 mobile:!px-[25px] mobile:!pb-5 tablet:bg-gray-300/40
    dark:tablet:bg-secondary-dark/50;
  }

  .project-label {
    @apply mb-2 mx-0 font-medium text-primary-blue dark:text-main;
  }

  .project-title {
    @apply text-primary-dark/90 dark:text-primary-white/90
    tablet:text-primary-dark dark:tablet:text-primary-white font-semibold leading-7 mb-5 tablet:mb-0;
  }

  .project-title-link {
    @apply tablet:before:content-[""] tablet:before:block tablet:before:absolute tablet:before:z-0 tablet:before:w-full tablet:before:h-full tablet:before:top-0 tablet:before:bottom-0;
  }

  .project-description {
    @apply text-gray-700 dark:text-primary-white/80 relative z-[2] p-6 rounded-md bg-[#bed3e4] dark:bg-[#448a85] tablet:py-5 tablet:px-0 tablet:bg-transparent dark:tablet:bg-transparent outline-none shadow-lg outline-offset-0 focus:shadow-xl hover:shadow-xl tablet:hover:shadow-none transition-shadow duration-300 ease-in-out tablet:shadow-none;
  }

  .project-description-link {
    @apply inline-block no-underline relative transition-all duration-200 ease-linear text-primary-blue dark:text-main z-[1] after:content-[""] after:block after:w-0 after:h-[1px] after:relative after:bottom-1 after:opacity-50 after:bg-primary-blue dark:after:bg-main after:transition-all after:duration-200 after:ease-linear hover:after:w-full;
  }

  .project-tech-list {
    @apply p-0 mt-6 mb-2 mx-0 z-[2] flex flex-wrap relative
    tablet:my-2 group-odd:justify-end  tablet:group-odd:justify-start;
  }

  .project-tech-item {
    @apply mt-0 mr-5 mb-1 ml-0 text-gray-500 text-base whitespace-nowrap tablet:mr-2 tablet:text-gray-600 group-odd:ml-5 group-odd:mr-0 tablet:group-odd:ml-0 tablet:group-odd:mr-2 focus:outline-none focus:outline-offset-0;
  }

  .project-links {
    @apply text-primary-dark dark:text-primary-white flex items-center relative mt-2 -ml-2 group-odd:justify-end group-odd:ml-0 group-odd:-mr-2 tablet:group-odd:justify-start tablet:group-odd:-ml-2 tablet:group-odd:mr-0;
  }

  .project-link-icon {
    @apply flex justify-center items-center p-2 relative z-[1] hover:text-primary-blue dark:hover:text-main;
  }

  .project-image {
    @apply shadow-lg row-[1/-1] col-[6/-1] relative z-[1] tablet:opacity-25 tablet:h-full tablet:col-[1/-1] group-odd:col-[1/8] w-full h-full tablet:group-odd:col-[1/-1] hover:shadow-md focus:outline-none focus:outline-offset-0 transition-shadow duration-500 ease-in-out before:content-[""] before:w-full before:h-full before:absolute before:z-[2] before:inset-0 dark:before:bg-[#2d303e] before:bg-gray-500 before:mix-blend-multiply;
  }

  /**  */
  .contact-content {
    @apply grid grid-cols-2 gap-10 laptop:block;
  }

  .contact-left {
    @apply min-w-max justify-center items-center mx-auto max-w-xs laptop:my-10;
  }

  .contact-right {
    @apply text-xl grid gap-5 text-primary-gray dark:text-primary-white;
  }

  .contact-title {
    @apply font-semibold text-primary-dark/80 dark:text-primary-white/80 text-5xl mb-5 tablet:text-4xl mobile:!text-2xl tablet:text-center;
  }

  .contact-description {
    @apply leading-8 text-gray-500 tablet:text-xl mobile:!text-base tablet:text-center select-none;
  }

  .contact-image {
    /* @apply relative mx-auto; */
  }

  /* group-odd:border-primary-blue
    group-odd:hover:border-gray-500
    group-odd:after:border-gray-500
    group-odd:after:hover:border-primary-blue

    dark:group-odd:border-main
    dark:group-odd:hover:border-primary-white
    dark:group-odd:after:border-primary-white
    dark:group-odd:after:hover:border-main

    group-even:border-gray-500
    group-even:hover:border-primary-blue
    group-even:after:border-primary-blue
    group-even:after:hover:border-gray-500

    dark:group-even:border-primary-white
    dark:group-even:hover:border-main
    dark:group-even:after:border-main
    dark:group-even:after:hover:border-primary-white */
}
